body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  background-color: #494d5f;
  color: #fff;
}

div#points {
  text-align: center;
  padding: 20px;
}

#playerPoints {
  display: inline;
  margin-right: 20px;
}

#computerPoints {
  display: inline;
  margin-left: 20px;
}

#optionList {
  margin-bottom: 2rem;
  text-align: center;
}

button.btn {
  padding: 20px;
  border: 0;
  border-radius: 12px;
  margin: 6px;
  font-size: 1.5rem;
  cursor: pointer;
}

.resultElement {
  margin-bottom: 20px;
}

.resultElement:last-child {
  margin-bottom: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 50%;
}

#winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 50%;
  padding: 10rem;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}